name: deploy

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:

  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Build and Check Package
        uses: hynek/build-and-inspect-python-package@v2.14.0

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    needs: package

    steps:
    - name: Download Package
      uses: actions/download-artifact@v7.0.0
      with:
        name: Packages
        path: dist

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@v1.13.0

    - name: Publish GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        files: dist/*
