name: test

on:
  push:
    branches:
      - "master"
      - "test-me-*"

  pull_request:


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:

  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build and Check Package
        uses: hynek/build-and-inspect-python-package@v2.14.0

  test:

    runs-on: ${{ matrix.os }}

    needs: package

    strategy:
      fail-fast: false
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v6

    - name: Download Package
      uses: actions/download-artifact@v7.0.0
      with:
        name: Packages
        path: dist

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}

    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox

    - name: Test
      shell: bash
      run: |
        tox run -e py --installpkg `find dist/*.tar.gz`
